fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
pydantic[email]
psycopg2-binary
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx
qdrant-client
google-generativeai
google-genai
PyMuPDF
python-docx
python-pptx
openpyxl
openai-whisper
pydub
aiofiles
pytest
pytest-asyncio
